.dropdown {
	align-items: center;
	display: flex;
	font-size: $font-size;
	height: $total-parent;
	justify-content: center;
	position: relative;
	text-transform: uppercase;

	&:hover {
		color: $white-color;
	}

	&__content {
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		display: none;
		min-width: 200px;
		position: absolute;
		right: 0;
		bottom: -76px;
		z-index: $z-index-one-level;

		&.show {
			display: block;
		}

		a {
			color: black;
			display: block;
			padding: 12px 16px;
			text-decoration: none;

			&:hover {
				background-color: #ddd;
			}
		}
	}
}
