.dropdown {
	align-items: center;
	display: flex;
	font-family: 'Akzidenz Grotesk - bold condenced';
	font-size: $navbar-font-size-items;
	font-weight: $navbar-font-weight;
	line-height: $nabvar-line-height-items;
	height: $total-parent;
	justify-content: center;
	position: relative;
	text-transform: uppercase;

	&:hover {
		color: $white-color;
	}

	&__content {
		background-color: $principal-color;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		display: none;
		min-width: 200px;
		position: absolute;
		right: 0;
		bottom: -88px;
		z-index: $z-index-one-level;

		&.show {
			display: block;
		}

		a {
			color: $white-color;
			display: block;
			padding: 15px 16px;
			text-decoration: none;

			&:hover {
				background-color: $white-color;
				color: $principal-color;
			}
		}
	}
}
