.dropdown {
  width: 150px;
  position: relative;
  display: none;

  &.show {
    display: block;
  }

  &__inner {
    background-color: #08262c;
    padding: 5px 10px 10px;

    &__link {
      color: #fff;
      text-decoration: none;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 100%;
      display: block;

      &:first-child {
        border-top: 1px solid #ccc;
      }
    }
  }
}