.footer {
  font-family: 'Lato', sans-serif;
  background-color: $secondary-color;
  min-height: $footer-height;

  &__inner {
    padding-bottom: 73px;
    padding-top: 84px;
    display: flex;
    justify-content: space-between;
    color: $white-color;
    height: $total-parent;
    margin-left: auto;
    margin-right: auto;
    width: $width-80;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    &__menu {
      font-size: 14px;
      font-weight: bold;

      @media only screen and (max-width: 768px) {
        display: flex;
        align-items: flex-start;
      }

      &__container {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        &__logo {
          display: inline-flex;
          height: 24px;
          width: 24px;

          &__content {
            max-width: 100%;
          }
        }

        &__link {
          color: $white-color;
          text-decoration: none;
          padding-left: 22px;

          @media only screen and (max-width: 768px) {
            padding-left: 0;
            margin-top: 25px;
          }

          @media only screen and (min-width: 769px) {
            &:not(:last-child) {
              &:after {
                content: "|";
                padding-left: 25px;
              }
            }
          }
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__container {
        display: flex;
        flex-direction: row;

        &:last-child {
          margin-top: 40px;

          @media only screen and (max-width: 768px) {
            margin-top: 0;
          }
        }

        @media only screen and (max-width: 768px) {
          flex-direction: column;
        }

        &__contacts {
          width: $width-70;

          @media only screen and (max-width: 768px) {
            margin-top: 25px;

            &:first-child {
              &:before {
                content: "_";
                padding-bottom: 25px;
                display: block;
                position: relative;
              }
            }
          }

          &__title {
            margin-bottom: 15px;
          }

          &__contact {
            display: flex;
            align-items: center;

            &:first-of-type {
              margin-bottom: 13px;
            }

            &__icon {
              margin-right: 16px;
              font-size: 20px;
            }

            &__text {
              font-size: 12px;

              a {
                color: $white-color;
                text-decoration: none;
              }
            }
          }
        }

        &__social_network {
          width: $width-30;

          @media only screen and (max-width: 768px) {
            margin-top: 25px;

            &:before {
              content: "_";
              padding-bottom: 25px;
              display: block;
              position: relative;
            }
          }

          &__title {
            margin-bottom: 15px;
          }

          &__link {
            font-size: 20px;
          }
        }

        &__copyright {
          font-size: 12px;

          @media only screen and (max-width: 768px) {
            margin-top: 25px;
          }

          &__text {
            display: inline;

            @media only screen and (max-width: 768px) {
              display: block;

              &:last-child {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}