.header-home {
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000000),
    url('~@Assets/images/home/bg-header-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  height: 485px;
  width: $total-parent;

  &__inner {
    height: $header-home-height-card;
    width: $header-home-width-card;
    margin-right: 120px;

    &__text {
      font-family: 'lato';
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: 1px;
      color: $white-color;

      &:first-child {
        margin-bottom: $margin-xs;
      }

      &--title {
        font-family: 'Akzidenz Grotesk - bold condenced';
        color: $white-color;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.88px;
      }
    }
  }
}