@import "~@Assets/styles/variables";
@import "~@Assets/styles/colors";

$height-content: 300px;
$color-primary: rgb(66, 191, 173);
$color-secondary: rgb(244, 130, 80);

.modal {
  background-color: rgba(108, 108, 108, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
  overflow: auto;
  & > .modal-dialog {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    & > .modal-container {
      background-color: $white-color;
      border-radius: 4px;
      padding: $padding-xxl;
      min-height: 200px;
      max-height: 100%;
      overflow: scroll;
      position: relative;
      &.sm {
        width: $width-50;
      }
      &.md {
        width: $width-60;
      }
      &.lg {
        width: $width-90;
      }
      & > .button-close {
        position: absolute;
        right: $padding-xxl;
        top: $padding-xxl;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  .modal {
    & > .modal-dialog {
      & > .modal-container {
        border-radius: 0;
        max-height: 100%;
        width: $width-90 !important;
        padding: $padding-xxl;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    & > .modal-dialog {
      & > .modal-container {
        border-radius: 0;
        height: 100%;
        width: $width-100 !important;
        padding: $padding-xxl;
      }
    }
  }
}
