.navbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-family: 'Lato', sans-serif;
  height: $navbar-height;
  position: fixed;
  top: 0;
  width: $total-parent;
  transition: all .2s ease-in-out;


  &.scrolling {
    background-color: $secondary-color;
    z-index: 999;
  }

  &__inner {
    align-items: center;
    color: $black-color;
    display: flex;
    height: $total-parent;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;

    &__logo-content {
      align-items: center;
      display: flex;
      height: $total-parent;

      &__image {
        width: 150px;

        @media only screen and (max-width: 768px) {
          display: none;
        }

        &__mobile {
          display: none;

          @media only screen and (max-width: 768px) {
            display: block;
          }
        }
      }
    }

    &__section {
      align-items: center;
      display: flex;
      height: $total-parent;
      justify-content: flex-end;
      width: $width-60;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      &__item {
        cursor: pointer;
        height: $total-parent;

        &:last-child {
          min-width: 150px;
        }

        &__link {
          align-items: center;
          color: $white-color;
          display: flex;
          font-size: 16px;
          font-weight: $navbar-font-weight;
          line-height: $nabvar-line-height-items;
          justify-content: center;
          margin-top: 9px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 9px;
          position: relative;
          text-decoration: none;

          &.current {
            color: $white-color;
            background-color: $secondary-color;
            margin-top: 0;
            padding-top: 23px;
            padding-bottom: 23px;
            margin-bottom: 0;
          }

          &.button--registration {
            border-radius: 20px;
            background-color: $principal-color;
          }

          &.button--login {
            border-radius: 20px;
            border: 1px solid $white-color;

            >i {
              margin-right: 8px;
            }
          }
        }
      }

      &--mobile {
        display: none;

        @media only screen and (max-width: 768px) {
          display: block;
        }

        &__button {
          &__icon {
            color: white;
            font-size: 24px;
          }
        }
      }
    }
  }
}