.navbar {
	align-items: center;
	background-color: $white-color;
	display: flex;
	height: $navbar-height;
	position: relative;
	width: $total-width-view;

	&__inner {
		align-items: center;
		color: $black-color;
		display: flex;
		height: $total-parent;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		width: $with-70;

		&__logo-content {
			align-items: center;
			display: flex;
			height: $total-parent;

			&__image {
				width: 260px;
			}
		}

		&__section {
			align-items: center;
			display: flex;
			height: $total-parent;

			&__item {
				cursor: pointer;
				height: $total-parent;
				width: 130px;

				&:hover {
					background-color: $secondary-color;
				}

				&__link {
					align-items: center;
					color: $secondary-color;
					display: flex;
					font-size: 0.9rem;
					height: $total-parent;
					justify-content: center;
					position: relative;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						color: $white-color;
					}
				}
			}
		}
	}
}
