.product-card {
  background-color: $white-color;
  border: solid 1px #E0E0E0;
  border-radius: 9px;
  cursor: pointer;
  display: inline-grid;
  grid-template-rows: 146px 43px;
  height: 190px;
  margin: 0 0 16px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: 105px auto;
    overflow: hidden;

    &--photo {
      background-color: rgba(216, 216, 216, 0.47);
      background-position: center center;
      background-repeat: no-repeat;
    }

    &--details {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 15px 15px 18px;

      &__reference {
        color: #212121;
        font-family: Lato;
        font-size: 10px;
        letter-spacing: 0.83px;
        margin: 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__title,
      &__description {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: Lato;
        -webkit-line-clamp: 2;
        margin: 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__title {
        color: #212121;
        font-size: 11px;
        letter-spacing: 0.92px;
      }

      &__description {
        color: rgba(33, 33, 33, 0.51);
        font-size: 10px;
        letter-spacing: 0.83px;
      }

      &__category {
        color: #212121;
        font-family: Lato;
        font-size: 10px;
        letter-spacing: 0.83px;
        margin: auto 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__footer {
    border-top: 1px solid #E0E0E0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 22px 0 8px;

    &--actions {
      align-items: center;
      display: flex;

      &__icon {
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 24px;
        width: 24px;

        &.dwg {
          background-image: url('~@Assets/images/project-specification/products/dwg.svg');
        }

        &.bim {
          background-image: url('~@Assets/images/project-specification/products/bim.svg');
        }

        &.tech {
          background-image: url('~@Assets/images/project-specification/products/tech.svg');
        }

        &.cert {
          background-image: url('~@Assets/images/project-specification/products/cert.svg');
        }
      }
    }

    &--see-more {
      align-items: center;
      color: #757575;
      display: flex;
      justify-content: flex-end;
      font-family: Lato;
      font-size: 12px;
      font-weight: bold;

      &__link:hover {
        text-decoration: underline;
      }
    }
  }

  &__add,
  &__check {
    background-size: 15px 15px;
    height: 15px;
    margin: 11px 14px 0 0;
    position: absolute;
    right: 0; 
    top: 0;
    width: 15px;
  }

  &__add {
    background-image: url('~@Assets/images/project-specification/products/plus.svg');
  }

  &__check {
    background-image: url('~@Assets/images/project-specification/products/check.svg');
  }

  &.hover {
    border: solid 1px #31cbb7;
  }

  &.selected {
    background-color: #F2F2F2;
  }
}