.slide {
	height: 350px;
	position: relative;
	width: $total-parent;

	&__inner {
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 56px;
		padding-top: 46px;
		height: $total-parent;
		width: $width-80;
		overflow: hidden;
		position: relative;

		&__control {
			position: absolute;
			display: flex;
			align-items: center;
			z-index: 1;
			width: 70px;
			height: 100%;

			&:last-of-type {
				right: 0;
			}

			.icon {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}

		&__container {
			height: 300px;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			transform: translateX(0px);
			transition: transform 0.3s;

			&__item {
				display: inline-block;
				height: 150px;
				width: 200px;
				margin-left: 100px;

				&__content {
					display: table;
					height: $total-parent;
					width: $total-parent;

					&__image {
						max-width: $total-parent;
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						font-size: 50px;
					}
				}
			}
		}
	}
}
