.slide {
  height: 382px;
  position: relative;
  width: $total-parent;

  &__inner {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56px;
    padding-top: 105px;
    height: $total-parent;
    width: $width-90;
    overflow: hidden;
    position: relative;

    &__title {
      font-family: 'Akzidenz Grotesk - bold condenced';
      color: $black-color;
      font-size: $font-size-xl;
      letter-spacing: 1.5px;
      text-align: center;
      padding-bottom: 60px;
    }

    .container {
      width: $width-80;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;

      .slick-slide {
        max-width: $total-parent !important;
      }

      &__row {
        line-height: 0;
        width: 32px;
        height: 32px;
        cursor: pointer;
        color: $support-orange-color;
        border: 1px solid $support-orange-color;
        border-radius: 50%;
        outline: 0;
        position: absolute;
        text-align: center;
        padding-top: 7px;

        &.prev {
          display: block;
          left: -36px;
          padding-right: 1px;
        }

        &.next {
          display: block;
          padding-left: 1px;
          right: -36px;
        }
      }

      &__images_content {
        &__image {
          margin-left: auto;
          margin-right: auto;
          width: 200px;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}