.who-we-us {
  color: $white-color;
  width: $total-parent;

   &:nth-child(2n+1) {
     background-color: $suport-grey-color;
   }

  &__section {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

     @media only screen and (max-width: 768px) {
       flex-direction: row;
       justify-content: center;
       padding-left: 45px;
       padding-right: 45px;
     }

    &:nth-child(2n+1) {
      background-color: $suport-grey-color;
    }

    &:nth-child(2n) {
      .who-we-us__section__inner {
        flex-direction: row-reverse;

        @media only screen and (max-width: 768px) {
          flex-direction: column-reverse;
        }
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $width-50;

      @media only screen and (max-width: 768px) {
        width: initial;
        flex-direction: column-reverse;
      }

      &__info {
        height: $total-parent;
        color: $secondary-color;
        width: $width-50;

         @media only screen and (max-width: 768px) {
           width: 100%;
         }

        &__title {
          font-family: 'Akzidenz Grotesk - bold condenced';
          font-size: 25px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1.5px;
          margin-bottom: 5px;
        }

        &__descent {
          margin-bottom: 15px;
        }

        &__descent,
        &__description {
          font-family: 'Lato', sans-serif;
        }
      }

      &__icon {
        text-align: center;
        width: $width-50;

         @media only screen and (max-width: 768px) {
           width: 100%;
           text-align: initial;
         }

         img {
            @media only screen and (max-width: 768px) {
              width: 76px;
            }
         }
      }
    }
  }
}