.supplier {
  background-color: $suport-grey-color;
  color: $black-color;
  font-size: $font-size-l;
  height: 475px;
  width: $total-parent;

  &__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;

    &__title {
      color: $white-color;
      font-family: 'Akzidenz Grotesk - bold condenced';
      font-size: 25px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.5px;
    }

    &__description {
      color: $white-color;
      font-family: 'lato';
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.5px;
    }

    &__bottom {
      &__btn {
        @include button-base;
        background-color: $principal-color;
        color: $white-color;

        &:active,
        &:focus {
          @include button-base-clicked;
        }

        &:hover {
          background-color: $support-orange-color;
        }
      }
    }
  }
}