.supplier {
  background: url('~@Assets/images/home/bg-header-supplier.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $black-color;
  font-size: $font-size-l;
  height: 475px;
  width: $total-parent;

  @media only screen and (max-width: 768px) {
    background: url('~@Assets/images/home/bg-header-supplier-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: $total-parent;
    width: $total-parent;

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: row;
      text-align: center;
    }

    &__content {
      width: 500px;

      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__title {
        color: $white-color;
        font-family: 'Lato';
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        width: 100%;

        @media only screen and (max-width: 768px) {
          margin-bottom: 15px;
          line-height: 1.36;
          letter-spacing: 1.56px;
          width: 50%;
        }
      }

      &__description {
        color: $white-color;
        font-family: 'lato';
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        width: 80%;

        @media only screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      &__bottom {
        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        &__btn {
          @include button-base(background-image, $principal-color, $white-color);

          &:active,
          &:focus {
            @include button-base-clicked;
          }

          &:hover {
            background-color: $support-orange-color;
          }
        }
      }
    }
  }
}