.projects {
	height: $total-parent;
	width: $total-parent;
	display: flex;
	flex-direction: column;
	padding-bottom: $common-padding-bottom;

	&__footer {
		display: flex;
		justify-content: center;

		&__button-more {
			@include button-base($principal-color, $white-color);

			&:active,
			&:focus {
				@include button-base-clicked;
			}

			&:hover {
				background-color: $support-orange-color;
			}
		}
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 55px;
		width: $width-90;

		.project {
			width: 387px;
			margin-top: 55px;

			&__header {
				width: $total-parent;
				height: 254px;
			}

			&__content {
				margin-top: $margin-xs;
				width: $total-parent;
				height: 125px;
				padding: 12px 16px;
				background-color: $suport-darkgrey-color;

				&__title {
					font-family: 'Akzidenz Grotesk - bold condenced';
					font-size: $font-size-m;
					margin-bottom: $margin-xxs;
				}

				&__description {
					font-family: 'Akzidenz Grotesk - light';
				}
			}
		}
	}
}
