@mixin button-base($background, $bg, $c) {
  #{$background}: $bg;
  color: $c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 34px;
  font-size: 12px;
  font-family: $button-font-family;
  font-stretch: normal;
  font-weight: $button-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: $button-line-height;
  border-radius: $button-radius;
  min-width: $button-min-width;
  padding-left: 20px;
  padding-right: 20px;

  @media only screen and (max-width: 768px) {
    width: 80%;
  }

}

@mixin button-base-clicked {
  border-color: transparent;
  outline: 0;
}