$principal-color: rgb(64, 191, 174);
$secondary-color: rgb(8, 38, 44);
$support-green-color: rgb(160, 217, 179);
$support-orange-color: rgb(255, 108, 54);
$suport-grey-color: rgb(241, 241, 241);

$black-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);

$bg-color-card-header-home: rgba(255, 255, 255, 0.5);
