$principal-color: rgb(64, 191, 174);
$secondary-color: rgb(8, 38, 44);
$support-green-color: rgb(160, 217, 179);
$support-orange-color: rgb(255, 108, 54);
$suport-grey-color: rgba(207, 207, 207, 0.13);
$suport-darkgrey-color: rgb(242, 242, 242);

$black-color: rgb(33, 33, 33);
$white-color: rgb(255, 255, 255);

$bg-color-card-header-home: rgba(255, 255, 255, 0.5);