body {
  background-color: $white-color;
}

.main-section {
  min-height: calc(#{$total-height-view} - (#{$navbar-height} + #{$footer-height}));
}

.error_container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;

  &__text {
    color: $secondary-color;
    font-family: 'Akzidenz Grotesk - bold condenced';
    font-size: $font-size-m;
    margin-bottom: $margin-xxs;
  }
}