// Commons variables
$total-height-view: 100vh;
$total-width-view: 100vw;
$total-parent: 100%;
$with-70: 70%;
$z-index-one-level: 5;
$font-size: 0.9rem;

// Navbar variables
$navbar-font-size-items: 21px;
$navbar-font-weight: bold;
$navbar-height: 105px;
$nabvar-line-height-items: 25px;
$navbar-logo: 324px;
$navbar-width-items: 165px;

// Dropdown variables
$dropdown-bottom-position: -109px;
