// Commons variables
$total-height-view: 100vh;
$total-width-view: 100vw;
$total-parent: 100%;
$with-70: 70%;
$z-index-one-level: 5;
$margin-lg: 30px;
$margin-m: 10;

$line-height: 26px;

$font-size-xl: 40px;
$font-size-l: 24px;
$font-size: 14px;

// Navbar variables
$navbar-font-size-items: 21px;
$navbar-font-weight: bold;
$navbar-height: 105px;
$nabvar-line-height-items: $line-height;
$navbar-logo: 324px;
$navbar-width-items: 165px;

// Dropdown variables
$dropdown-bottom-position: -112px;

// Header Home variable
$header-home-height: 500px;
$header-home-height-card: 256px;
$header-home-width-card: 500px;
$header-home-padding-horizontal: 25px;
$header-home-padding-vertical: 30px;
$header-home-title: $font-size-xl;
$header-home-font-size: $font-size-l;
$header-home-line-height: $line-height;

// Who We Us Home variables
$who-we-us-height: 410px;
$who-we-us-section-width: 386px;
$who-we-us-icon-size: 100px;

// Footer variables
$footer-height: 260px;
